$sun: #f2d43d;
$water: #49acde;
$phosphorus: #e07b41;
$nitrogen: #6bb54e;
$potassium: #b994d4;

.counter {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;

  @apply rounded-lg;

  overflow: hidden;
  position: relative;

  &__listener {
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;

    $start: transparent 25%;
    $end: rgba(0, 0, 0, 0.1) 25%;

    &.left {
      left: 0;

      &:active {
        background: linear-gradient(to left, $start, $end);
      }
    }

    &.right {
      right: 0;

      &:active {
        background: linear-gradient(to right, $start, $end);
      }
    }
  }

  &--is-zero &__listener.left:active {
    background: none;
  }

  &__label {
    @apply pb-2;
    @apply text-sm;
  }

  &__value {
    @apply font-bold;
    @apply text-lg;
  }

  &--sun {
    background-color: $sun;
  }
  &--water {
    background-color: $water;
  }
  &--phosphorus {
    background-color: $phosphorus;
  }
  &--nitrogen {
    background-color: $nitrogen;
  }
  &--potassium {
    background-color: $potassium;
  }
}
