/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

$bg: #2b4053;
$height: calc(var(--vh, 1vh) * 100);

/* purgecss start ignore */
html,
body {
  background-color: $bg;
  height: 100vh;
  touch-action: none;
  user-select: none;
  width: 100vw;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

#app {
  @apply px-3;
  @apply gap-3;
  @apply grid;
  grid-template-rows: 4rem repeat(5, 1fr);

  /* background-color: $bg; */
  height: $height;
  height: 100vh;
  margin: 0 auto;
  max-height: 812px;
  max-width: 420px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 3rem);
  padding-top: calc(env(safe-area-inset-top) + 0.5rem);
  width: 100vw;
}
/* purgecss end ignore */
