/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

$bg: #d3dcde;
$bg: #2b3c45;

html,
body {
  height: 100vh;
  width: 100vw;
  background: $bg;

  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

#app {
  height: 100vh;
  width: 100vw;

  @apply grid;
  @apply grid-rows-5;

  padding-top: calc(env(safe-area-inset-top) + 0.5rem);
  padding-bottom: calc(env(safe-area-inset-bottom) + 2rem);
  background: $bg;
}
